kwmc rule properties={float="true"} role="AXDialog"

kwmc rule owner="FocusList" properties={role="AXDialog"}
kwmc rule owner="FocusList" role="AXDialog" properties={float="false"}

kwmc rule properties={float="true"} owner="App Store"
kwmc rule properties={float="true"} owner="System Preferences"
kwmc rule properties={float="true"} owner="Lingon X"
kwmc rule properties={float="true"} owner="Alfred Preferences"
kwmc rule properties={float="true"} owner="BetterTouchTool"
kwmc rule properties={float="true"} owner="Transmission"
kwmc rule properties={float="true"} owner="Archive Utility"
kwmc rule properties={float="true"} owner="The Unarchiver"
kwmc rule properties={float="true"} owner="Simulator"
kwmc rule properties={float="true"} owner="VOX"
kwmc rule properties={float="true"} owner="Android Emulator"
kwmc rule properties={float="true"} owner="qemu-system-x86_64"
kwmc rule properties={float="true"} owner="Snapper"
kwmc rule properties={float="true"} owner="Playback"
kwmc rule properties={float="true"} owner="VLC"

kwmc rule properties={float="true"} name="Preferences"

kwmc rule properties={space="2"} owner="Reeder"
kwmc rule properties={space="3"} owner="Wunderlist"
kwmc rule properties={space="3"} owner="FocusList"
kwmc rule properties={space="3"} owner="Google Keep"
kwmc rule properties={space="3"} owner="Boxy"
kwmc rule properties={space="4"} owner="Slack"
kwmc rule properties={space="4"} owner="Discord"
kwmc rule properties={space="4"} owner="Messenger for Desktop"
kwmc rule properties={space="5"} owner="YouTube"
kwmc rule properties={space="5"} owner="Pocket Casts"
kwmc rule properties={space="5"} owner="Plex"
kwmc rule properties={space="5"} owner="Radiant Player"
