
kwmc config add-role AXDialog iTerm2

kwmc rule properties={float="true"} owner="Steam"
kwmc rule properties={float="true"} owner="Photoshop"
kwmc rule properties={float="true"} owner="App Store"
kwmc rule properties={float="true"} owner="System Preferences"
kwmc rule properties={float="true"} owner="Lingon X"
kwmc rule properties={float="true"} owner="Alfred Preferences"
kwmc rule properties={float="true"} owner="BetterTouchTool"
kwmc rule properties={float="true"} owner="Gear Shift"
kwmc rule properties={float="true"} owner="SeriesGuide"
kwmc rule properties={float="true"} owner="Tenpenchii"
kwmc rule properties={float="true"} owner="UTilities"
kwmc rule properties={float="true"} owner="NZB 360"
kwmc rule properties={float="true"} owner="NZBManager"
kwmc rule properties={float="true"} owner="Transmission"
kwmc rule properties={float="true"} owner="Archive Utility"
kwmc rule properties={float="true"} owner="The Unarchiver"
kwmc rule properties={float="true"} owner="Gear for Google Play and YouTube"
kwmc rule properties={float="true"} owner="Simulator"
kwmc rule properties={float="true"} owner="VOX"
kwmc rule properties={float="true"} owner="Android Emulator"
kwmc rule properties={float="true"} owner="qemu-system-x86_64"
kwmc rule properties={float="true"} owner="Snapper"
kwmc rule properties={float="true"} owner="Playback"
kwmc rule properties={float="true"} owner="VLC"

kwmc rule properties={float="true"} owner="Electron" except="vmd"

kwmc rule properties={float="true"} name="PushBullet"
# kwmc rule properties={float="true"} name="Preferences" except="Slack"

kwmc rule properties={space="2"} owner="Reeder"
kwmc rule properties={space="3"} owner="Wunderlist"
kwmc rule properties={space="3"} owner="Boxy"
kwmc rule properties={space="4"} owner="Slack"
kwmc rule properties={space="4"} owner="Goofy"
kwmc rule properties={space="4"} owner="Chatty"
kwmc rule properties={space="4"} owner="Messenger"
kwmc rule properties={space="5"} owner="Plex"
kwmc rule properties={space="5"} owner="Radiant Player"
kwmc rule properties={space="5"} owner="Pocket Casts"
